@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.header-sp{
    display: none;
}

.header-pc{
    position: fixed;
    top: 0;
    left: 0;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 62px;
    background-color: #fff;
    padding-left: 65px;
    z-index: 999;
}

.header-pc-title{
    font-size: 16px;
    letter-spacing: 0.1em;
    cursor: pointer;
}

.header-nav{
    height: 100%;
}

.header-nav-list{
    display: flex;
    height: 100%;
}

.header-nav-list-item{
    position: relative;
    height: 100%;
    font-size: 14px;
    line-height: 4.5;
    margin-right: 30px;
    letter-spacing: 0.1em;
}

.header-nav-list-item a{
    cursor: pointer;
    color: #000;
}

.header-nav-list-item a::after {
    content: '';
    position: absolute;
    top: 45px;
    left: 0;
    width: 100%;
    height: 1px;
    background:#000;
    /*アニメーションの指定*/
    transition: all .5s;
    transform: scale(0, 1);/*X方向0、Y方向1*/
    transform-origin: left top;/*左上基点*/
}

/*現在地とhoverの設定*/
.header-nav-list-item a:hover::after {
    transform: scale(1, 1);/*X方向にスケール拡大*/
}

.header-nav-list-item a:hover{
    opacity: 0.6;
}

.product-hover{
    display: none;
}

.product-hover.active{
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #fff;
    padding: 50px 100px;
    z-index: 999;
    box-sizing: border-box;
}

.product-hover ul:first-child{
    padding-right: 100px;
}

.product-hover ul h3{
    font-size: 1.1rem;
    padding-bottom: 30px;
    cursor: pointer;
}

.product-hover ul h3 span{
    font-size: .7rem;
}

.product-hover ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.product-hover-text{
    display: flex;
    align-items: center;
}

.product-hover-text:hover{
    opacity: 0.7;
}

.product-hover-text p{
    line-height: 1.3;
    font-size: .7rem;
    padding-left: 10px;
}

.product-hover-text p::first-line{
    font-size: .8rem;
}

.support-hover{
    display: none;
}

.support-hover.active{
    position: fixed;
    top: 50px;
    left: 0;
    display: flex;
    justify-content: space-around;
    width: 100vw;
    background-color: #fff;
    padding: 50px 100px;
    z-index: 999;
    box-sizing: border-box;
}

.support-hover ul:first-child{
    padding-right: 100px;
}

.support-hover ul h3{
    font-size: 1.1rem;
    padding-bottom: 30px;
    cursor: pointer;
}

.support-hover ul h3 span{
    font-size: .7rem;
}

.support-hover ul li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}

.support-hover-text{
    display: flex;
    align-items: center;
}

.support-hover-text:hover{
    opacity: 0.7;
}

.support-hover-text p{
    line-height: 1.3;
    font-size: .7rem;
    padding-left: 10px;
}

.support-hover-text p::first-line{
    font-size: .8rem;
}

.product-hover h3,
.support-hover h3{
    cursor: pointer;
}

.product-hover li,
.support-hover li{
    cursor: pointer;
}

.onlineShop-hover{
    display: none;
}

.onlineShop-hover li{
    cursor: pointer;
}

.onlineShop-hover li:hover{
    opacity: .7;
}

.onlineShop-hover.active{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    top: 50px;
    left: 0;
    width: 100%;
    background-color: #fff;
    padding: 30px 50px;
    z-index: 999;
    box-sizing: border-box;
}

.onlineShop-hover h3{
    font-size: .9rem;
    line-height: 1.3;
}

.onlineShop-hover ul{
    display: flex;
}

.onlineShop-hover ul li{
    display: flex;
    align-items: center;
    border: 1px solid #eee;
    margin-left: 20px;
}

.onlineShop-hover ul li:first-child{
    margin-left: 0;
}

.sp-onlineshop-text{
    display: flex;
    align-items: center;
    font-size: .8rem;
    padding-left: 10px;
}

.shopping-cart1,
.shopping-cart2,
.shopping-cart3{
    padding: 15px;
    color: #fff;
}

.shopping-cart1{
    background-color: #4b4b4b;
}

.shopping-cart2{
    background-color: #bf0202;
}

.shopping-cart3{
    background-color: #fd9802;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.header-pc{
    display: none;
}

.header-hover{
    display: none;
}

.header-sp{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 20px;
    z-index: 999;
}

.header-sp.active{
    background-color: #fff;
}

.header-sp-title{
    font-size: 4vw;
    letter-spacing: .1em;
}

.sp-open-btn{
    position: relative;
	cursor: pointer;
    width: 70px;
    height:70px;
}

.sp-open-btn span{
    position: absolute;
    display: inline-block;
    transition: all 0.4s;
}

.sp-open-btn span:nth-of-type(1){
    top: 15px;
    right: 20px;
    height: 1px;
	background: #000;
  	width: 45%;
}

.sp-open-btn span:nth-of-type(2){
    top: 25px;
    right: 20px;
    height: 1px;
	background: #000;
  	width: 45%;
}

.sp-open-btn span:nth-of-type(3){
    top: 35px;
    right: 20px;
    height: 1px;
	background: #000;
  	width: 45%;
}

.sp-open-btn span:nth-of-type(4){
    top: 45px;
    right: 17px;
    font-size: 12px;
}

.sp-open-btn.active span:nth-of-type(1){
    top: 20px;
    right: 23px;
    transform: translateY(12px) rotate(-45deg);
    width: 30%;
}

.sp-open-btn.active span:nth-of-type(2),
.sp-open-btn.active span:nth-of-type(4){
	opacity: 0;/*真ん中の線は透過*/
}

.sp-open-btn.active span:nth-of-type(3){
    top: 32px;
    right: 23px;
    transform: translateY(0px) rotate(45deg);
    width: 30%;
}

}