@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.select{
    padding: 100px 0 200px;
}

.select-inner{
    max-width: 800px;
    margin: 0 auto;
}

.select-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 80px;
    letter-spacing: 0.3em;
}

.select-contents1,
.select-contents2{
    display: flex;
}

.select-contents1{
    position: relative;
    margin-bottom: 100px;
}

.select-contents2{
    position: relative;
    flex-direction: row-reverse;
}

.select-contents1 img{
    width: 45%;
    height: 65vh;
}

.select-contents2 img{
    width: 70%;
}

.select-contents1-text{
    position: absolute;
    top: 50%;
    left: 35%;
    transform: translateY(-50%);
}

.select-contents2-text{
    position: absolute;
    top: 50%;
    left: 7%;
    transform: translateY(-50%);
}

.select-contents1-text h3,
.select-contents2-text h3{
    font-size: 1.5rem;
    font-weight: bold;
    line-height: 1.5;
    letter-spacing: 0.3em;
    padding-bottom: 20px;
}

.select-contents1-text p,
.select-contents2-text p{
    font-size: .9rem;
    letter-spacing: .1em;
}

.select-start,
.select-more{
    position: relative;
    display: flex;
    align-items: center;
    width: 200px;
    line-height: 3.5;
    padding-top: 20%;
    cursor: pointer;
    overflow: hidden;
}

.select-start::after,
.select-more::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background:#000;
    transition: all 1s;
    transform-origin: left top;
}

.select-start:hover::after,
.select-more:hover::after{
    animation: moreLine 2s ease 0s infinite normal backwards ;
}

@keyframes moreLine{
    0%{transform: translateX(-100%);
    }
    50%{animation-play-state:paused
    }
    100%{transform: translateX(100%);
    }
}

.select-start p,
.select-more p{
    font-size: .8rem;
}

.select-start p.hover,
.select-more p.hover{
    opacity: .6;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.select{
    width: 100%;
    padding-top: 50%;
}

.select-title{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 45px;
    letter-spacing: .1em;
}

.select-contents1{
    position: relative;
    display: flex;
    margin-bottom: 80px;
}

.select-contents2{
    position: relative;
    display: flex;
    flex-direction: row-reverse;
}

.select-contents1 img{
    width: 60%;
    height: 22vh;
    object-fit: cover;
}

.select-contents2 img{
    width: 60%;
    height: 22vh;
    object-fit: cover;
}

.select-contents1-text{
    position: absolute;
    top: 10%;
    right: 10%;
}

.select-contents2-text{
    position: absolute;
    top: 10%;
    left: 10%;
}

.select-contents1-text h3,
.select-contents2-text h3{
    font-size: .8rem;
    font-weight: bold;
    line-height: 1.7;
    letter-spacing: 0.1em;
    padding-bottom: 10px;
}

.select-contents1-text p,
.select-contents2-text p{
    font-size: .5rem;
    letter-spacing: .1em;
}

.select-start,
.select-more{
    display: flex;
    border-bottom: 1px solid #000;
    align-items: center;
    width: 150px;
    line-height: 3.5;
    padding-top: 10px;
}

.select-start p,
.select-more p{
    font-size: .6rem;
}

}