@charset "UTF-8";


@media screen and (min-width: 769px) {
    /* PC style */

.support-inner{
    max-width: 800px;
    margin: 0 auto;
    padding: 50px 0 80px;
}

.support-title{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 80px;
    letter-spacing: 0.3em;
}

.support-contents-list{
    display: flex;
    justify-content: space-between;
}

.support-contents-list-item{
    margin-left: 50px;
    opacity: 0;
}

.support-contents-list-item:first-child{
    margin-left: 0;
}

.support-contents-list-itemImg{
    cursor: pointer;
    margin-bottom: 30px;
    overflow: hidden;
}

.support-contents-list-itemImg img{
    width: 100%;
    height: 30vh;
    transition: all 1s;
}

.support-contents-list-itemImg img:hover{
    transform: scale(1.2,1.2);
    transition: all 1s;
    opacity: 0.8;
}

.support-contents-text{
    text-align: center;
    padding-bottom: 10px;
    font-size: 1rem;
    letter-spacing: .1em;
    cursor: pointer;
}

.support-question{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.support-question p{
    font-size: .8rem;
}

}

@media screen and (max-width: 768px) {
    /* SP style */

.support{
    max-width: 80vw;
    margin: 0 auto;
    padding: 50px 0 80px;
}

.support-title{
    text-align: center;
    font-size: 1.3rem;
    margin-bottom: 45px;
    letter-spacing: .1em;
}

.support-contents-list-item{
    padding-bottom: 50px;
}

.support-contents-list-item:last-child{
    padding-bottom: 0;
}

.support-contents-list-item img{
    padding-bottom: 15px;
}

.support-contents-text{
    text-align: center;
    padding-bottom: 15px;
    font-size: .8rem;
    letter-spacing: .1em;
}

.support-question{
    display: flex;
    justify-content: center;
    align-items: center;
}

.support-question p{
    font-size: .7rem;
}

}